<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="static/lib/bootstrap3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/base.css" />

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<h1>愽客首页</h1>
<div id="top">头部</div>
<nav id="nav">导航条</nav>
<div id="notice">公告</div>
<div id="content">
    <!--内部-->
</div>
<div id="footer">
    页脚
</div>
<script src="static/lib/jquery3.3.1/jquery.min.js"></script>
<script src="static/lib/bootstrap3.3.7/js/bootstrap.min.js"></script>
</body>
</html>